<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>601822913710-1b8iof449rf16qegot50a2n2v59taa83.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.601822913710-1b8iof449rf16qegot50a2n2v59taa83</string>
	<key>API_KEY</key>
	<string>AIzaSyClTTkPKoFvkeGfQwhM5nc7PTGEqREhsoU</string>
	<key>GCM_SENDER_ID</key>
	<string>601822913710</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.typerdev.ccf</string>
	<key>PROJECT_ID</key>
	<string>ccfapp-a7693</string>
	<key>STORAGE_BUCKET</key>
	<string>ccfapp-a7693.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:601822913710:ios:38f6ddb9955b358540f93f</string>
</dict>
</plist>